#DATA STRUCTURE
1. What are data structures, and why are they important?
 - Data structures are ways to organize and store data in a computer so that it can be used efficiently.
They are important because they help in:

 - Storing large data properly

 - Performing operations (searching, sorting, updating) faster

 - Reducing memory usage and improving program performance

2. Explain the difference between mutable and immutable data types with examples.
 - Mutable: Can be changed after creation. Example:
  List → a = [1,2,3]; a[0] = 10 → [10,2,3].

 - Immutable: Cannot be changed after creation. Example: String → "hello" cannot be modified directly.

3. What are the main differences between lists and tuples in Python?
 - List: Mutable, slower, written with []. Example: [1,2,3].

 - Tuple: Immutable, faster, written with (). Example: (1,2,3).

4. Describe how dictionaries store data.
 - Dictionaries store data in key-value pairs. Each value is accessed using its key, not an index.
Example: student = {"name":"Ali", "age":20} → key = "name", value = "Ali".

5. Why might you use a set instead of a list in Python?
 - A set automatically removes duplicate values.
Sets provide faster searching compared to lists.

6. What is a string in Python, and how is it different from a list?
 - A string is a sequence of characters (immutable). Example: "Python".

 - A list is a collection of different data types (mutable). Example: [1, "Python", 3.5].

7. How do tuples ensure data integrity in Python?
 - Since tuples are immutable, their values cannot be changed once created. This ensures the data stored inside remains safe and unchanged.

8. What is a hash table, and how does it relate to dictionaries in Python?
 - A hash table stores data using a hashing function that maps keys to memory addresses.

 - Python dictionaries are implemented using hash tables.

9. Can lists contain different data types in Python?
 - Yes, lists can store multiple data types together. Example:
data = [1, "hello", 3.5, True].

10. Explain why strings are immutable in Python.
 - Strings are immutable to:
     -       Save memory (since many programs reuse the same strings)
     -    Improve performance (string operations become faster)
     -  Provide security (string values remain unchanged accidentally).

11. What advantages do dictionaries offer over lists for certain tasks?
 - Faster lookups using keys instead of searching through indexes.
 - Clear key-value relationship for better readability.
 - No need to remember index positions.

12. Describe a scenario where using a tuple would be preferable over a list.
 - When storing fixed data that should not change, e.g., storing latitude and longitude of a location: (28.61, 77.23).

13. How do sets handle duplicate values in Python?
 - Sets automatically remove duplicates. Example:
{1,2,2,3} → {1,2,3}.

14. How does the “in” keyword work differently for lists and dictionaries?
 - For lists, "in" checks if a value exists in the list.

 - For dictionaries, "in" checks if a key exists, not the value.

15. Can you modify the elements of a tuple? Explain why or why not?
 - No, tuples are immutable, so their elements cannot be changed after creation. This ensures data remains constant.

16. What is a nested dictionary, and give an example of its use case.
 - A nested dictionary means a dictionary inside another dictionary.
Example:student = {
  "name": "Ali",
  "marks": {"math": 90, "science": 85}
}
 - Use case: Storing structured data like student records.

17. Describe the time complexity of accessing elements in a dictionary.
 - Accessing elements in a dictionary takes O(1) time on average because it uses hash tables.

18. In what situations are lists preferred over dictionaries?
 - Lists are preferred when:
   -  Order of elements matters (lists maintain order).
   -  You need to store a sequence of items without key-value pairs.
   -  Data will be accessed mostly by index numbers.
Example: A list of student names → ["Ali", "Sara", "Rahul"].

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
 - Dictionaries are considered unordered because elements are stored using hashing, not in a fixed sequence.
This means you cannot rely on the order of items for retrieval.
However, retrieval is still fast using keys, not by position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - List: Data is retrieved using index numbers (position-based). Example: list[0].
 - Dictionary: Data is retrieved using keys (key-based). Example: dict["name"].

#PRACTICAL QUESTION

In [2]:
# 1. Write a code to create a string with your name and print it
name="mohd aijaj"
print(name)

mohd aijaj

In [3]:
# 2. Write a code to find the length of the string "Hello World".
str1="Hello World"
print(len(str1))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
str2="Python Programming"
print(str2[0:3])

Pyt

In [5]:
# 4.Write a code to convert the string "hello" to uppercase.
str1="hello"
print(str1.upper())

HELLO

In [6]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
s="I like apple "
print(s.replace("apple", "orange"))

I like orange

In [7]:
# 6.Write a code to create a list with numbers 1 to 5 and print it.
number = [1, 2, 3, 4, 5]
print(number)

[1, 2, 3, 4, 5]

In [8]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [9]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

In [10]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list3 = ['a', 'b', 'c', 'd']
print(list3[1])

b

In [12]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [13]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [14]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red', 'green', 'blue', 'yellow')
print(tuple1[-2])

blue

In [15]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10,20,5,15)
print(min(t))

5

In [16]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1 = ('dog', 'cat', 'rabbit')
print(tuple1.index('cat'))

1

In [17]:
# 15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [18]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'a', 'c', 'b'}

In [19]:
# 17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [20]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [21]:
# 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [22]:
#  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1,2,3}
s2={2,3,4}
print(s1.intersection(s2))

{2, 3}

In [24]:
# 21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1={"name":"mohd aijaj","age":20,"city":"MEWAT"}
print(dict1)

{'name': 'mohd aijaj', 'age': 20, 'city': 'MEWAT'}

In [25]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d1={'name': 'John', 'age': 25}
d1["country"]="USA"
print(d1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1={'name': 'Alice', 'age': 30}
print(dict1["name"])

Alice

In [27]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict1["age"]
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [28]:
# 25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1={'name': 'Alice', 'city': 'Paris'}
print("city" in dict1)

True

In [29]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list1=[1,2,3,4,5]
print(list1)
tuple1=(1,2,3,4,5)
print(tuple1)
dict1={"name":"mohd aijaj","age":20,"city":"MEWAT"}
print(dict1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'mohd aijaj', 'age': 20, 'city': 'MEWAT'}

In [32]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#     result.(replaced)
import random
list1 = random.sample(range(1, 101), 5)
list1.sort()
print(list1)

[9, 12, 21, 53, 67]

In [33]:
# 28. Write a code to create a list with strings and print the element at the third index.
list1 = ["apple", "banana", "cherry", "date", "elderberry"]
print(list1[3])

date

In [34]:
# 29.Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
# 30.Write a code to convert a list of strings into a set.
list1 = ["apple", "banana", "cherry", "date", "elderberry"]
set1 = set(list1)
print(set1)

{'elderberry', 'banana', 'apple', 'cherry', 'date'}